<?xml version='1.0' encoding='UTF-8'?>
<settings>
  <run_mode>fixed source</run_mode>
  <particles>10000000</particles>
  <batches>10</batches>
  <inactive>0</inactive>
  <source type="independent" strength="1.0" particle="neutron">
    <space type="point">
      <parameters>0.0 0.0 -0.15000000000000002</parameters>
    </space>
    <angle type="monodirectional" reference_uvw="0.0 0.0 1.0"/>
    <energy type="discrete">
      <parameters>4500000.0 1.0</parameters>
    </energy>
  </source>
</settings>
